<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>

<body>
    <h1>User List</h1>
    <ul>
        <% users.data.forEach((user)=> { %>
        <li>Name: <%= user.first_name %>
            <%= user.last_name %>, Email: <%= user.email %>
        </li>
        <% }); %>
    </ul>
</body>

</html>
